html {
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	text-align: center;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

header {
	height: 3em;
}

main {
	text-align: center;
	background-color: #999;
}

.control {
	display: inline-block;
}

.btn {
	position: relative;
	outline: none;
	border: none;
	cursor: pointer;
}

.flag-icon:before {
	content: "";
	position: absolute;
	top: 3px;
	right: 8px;
	display: block;
	height: 23px;
	width: 3px;
	background-color: #263238;
}

.flag-icon:after {
	content: "";
	position: absolute;
	top: 3px;
	right: 11px;
	display: block;
	border-style: solid;
	border-width: 8px 11px 8px 0;
	border-color: transparent #f44336 transparent transparent;
}

.square-container {
	line-height: 0;
	display: inline-block;
	vertical-align: middle;
	border-spacing: 2px 1px;
	height: 100%;
	/* Disable text selection */
	user-select: none;
}

.disabled {
	pointer-events: none;
}

.hidden {
	display: none;
}

.square {
	font-size: 10vw;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	width: 10vw;
	height: 10vw;
	display: table-cell;
	background-color: #ccc;
	box-shadow: 0.5vw 0.5vw 0.5vw 0.5vw #f1f1f1 inset, -0.5vw -0.5vw 0.5vw 0.5vw #aaa inset;
	border-radius: 1vw;
	transition: box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.square:hover {
	opacity: 0.9;
}

.square--open {
	box-shadow: initial;
	background-color: #ccc;
}

.square--open:hover {
	opacity: 1;
}

.square--open:active {
	box-shadow: initial;
}

.square--open1 {
	color: #3F51B5;
}

.square--open2 {
	color: #4CAF50;
}

.square--open3 {
	color: #f44336;
}

.square--open4 {
	color: #673AB7;
}

.square--open5 {
	color: #b71c1c;
}

.square--open6 {
	color: #009688;
}

.square--open7 {
	color:black;
}

.square--open8 {
	color: #757575;
}

.flag {
	background-color: red;
}

.square--bomb {
	border-width: 0px;
	border-color: red;
}

h2 {
	margin: 6px;
}

table {
	width: 100%;
}

.popup-container {
	position: absolute;
    display: flex;
	align-items: center;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	transition: height .5s;
}

.popup-container.hidden {
	height: 0vh;
}

.perspective {
	position: relative;
	margin: 0 auto;
	width: 90vw;
	height: 70vh;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	transition: height .6s;
}

.popup-container.hidden .perspective {
	height: 0vh;
}

.popup {
	position: absolute;
	background: white;
	border-radius: 12px;
	padding: 6px;
	transform-style: preserve-3d;
	transform: rotateX(0deg);
	opacity: 1;
	transition: transform .2s ease-in-out, opacity .2s ease-in-out, top .3s ease-in-out;
	top: 0;
}

.popup-container.hidden .popup {
	transform: rotateX(-90deg);
	opacity: 0;
	top: -140px;
}

.btn-close {
	position: absolute;
	right: 6px;
	display: inline-block;
	font-size: 24px;
	height: 24px;
    width: 24px;
    line-height: 24px;
}

@media only screen and (orientation: landscape) {
	body {
		background-color: #009688;
	}
}

@media only screen and (min-width: 640px) {

	.square {
		font-size: 3vw;
		width: 3vw;
		height: 3vw;
		box-shadow: 0.15vw 0.15vw 0.15vw 0.15vw #f1f1f1 inset, -0.15vw -0.15vw 0.15vw 0.15vw #aaa inset;
		border-radius: 0.3vw;
	}

	.square--open {
		box-shadow: initial;
		background-color: #ccc;
	}

	.popup, .perspective {
		width: 70vw;
	}
}